<section id="comments">
    <h5 class="text-muted fw-semibold">Comments</h5>
    @{
        ViewData["_SpinnerId"] = "comments-spinner";
    }
    @await Html.PartialAsync("_Spinner")
    <textarea class="form-control mt-3" placeholder="Add a comment..." id="add-comment-content-field" style="width: 40rem; height: 5.1rem;"></textarea>
    <button type="button" class="btn btn-primary btn-sm mt-3">Add Comment</button>
</section>