@* When changing an element in this section, apply the changes as well in the comments.js *@
<section id="comments">
    <h5 class="text-muted fw-semibold">Comments</h5>
    @{
        ViewData["_SpinnerId"] = "comments-spinner";
    }
    @await Html.PartialAsync("_Spinner")
    <form method="post" id="add-comment-form" role="form">
        <textarea class="form-control mt-3" placeholder="Add a comment..." id="add-comment-content-field" name="@nameof(CommentForCreate.Content)" style="width: 40rem; height: 5.1rem;"></textarea>
        <button type="submit" class="btn btn-primary btn-sm mt-3">Add Comment</button>
    </form>
</section>