@{
    var id = ViewData["_SpinnerId"] ?? string.Empty;
    var isCentered = ViewData["_SpinnerIsCentered"] ?? false;
    var containerClass = (bool)isCentered ? "justify-content-center" : string.Empty;
}
<div class="d-flex @containerClass align-items-center my-3" id="@id">
    @* <span class="fw-medium">Loading...</span> *@
    <div class="spinner-border text-secondary ms-2"></div>
</div>