<div class="d-flex justify-content-center align-items-center" id="@ViewData["SpinnerId"]">
    <div class="d-flex justify-content-center align-items-center m-5">
        <span class="fw-medium">Loading...</span>
        <div class="spinner-border ms-2"></div>
    </div>
</div>