<div class="table-responsive">
    <table class="table table-hover table-borderless table-issue">
        <thead>
            <tr>
                <th scope="col">Key</th>
                <th scope="col">Summary</th>
                <th scope="col">Priority</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">SXP-3</th>
                <td>Lorem ipsum dolor sit amet</td>
                <td>Low</td>
                <td>Resolved</td>
            </tr>
        </tbody>
    </table>
</div>