$primary: #172B4D;
$blue: #0C66E4;
$info: #579DFF;

@import '../lib/bootstrap/scss/bootstrap.scss';
@import 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap';

:root {
  --bs-body-font-family: 'Roboto', sans-serif;
}

html {
  overflow-y: scroll !important;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-right: 0 !important;
  padding-right: 0 !important;

  &.loading {
    cursor: wait;
  }
}

footer {
  margin-top: auto;
  margin-right: 0 !important;
  padding-right: 0 !important;
}

a {
  color: $primary;

  &:hover {
    color: $primary;
  }

  html[data-bs-theme="dark"] & {
    color: $white;
  }
}

/* Override the default border color when the navbar-toggler is focused or clicked */
.navbar-toggler:focus, 
.navbar-toggler:active,
.btn {
  box-shadow: none !important;
}
.navbar-nav {  
  .dropdown-item {
    color: $gray-400;
    position: relative;

    &:active {
      color: $light !important;
    }
  }
}

#issue-tabs-content {
  table {
    tbody {
      border-top: 1px solid $nav-tabs-border-color;
      border-bottom: 1px solid $nav-tabs-border-color;

      span {
        padding: .10rem 0 .10rem;
        display: inline-block;
      }
  
      .issue-name {
        min-width: 16rem;
      }
  
      .issue-priority {
        span {
          color: $white;
          border-radius: $border-radius;
          padding-left: .5rem;
          padding-right: .5rem;
          text-align: center;
          min-width: 4.5rem;
          &.priority-1, &.priority-2 {
            background-color: $danger;
          }
  
          &.priority-3 {
            background-color: $orange;
          }
  
          &.priority-4 {
            background-color: $info;
          }
  
          &.priority-5 {
            background-color: $gray-500;
          }
  
          html[data-bs-theme="dark"] & {
            &.priority-5 {
              color: $dark
            }
          }
        }
      }
    }
  }
}

.pagination {
  .page-item {
    &.active {
      .page-link {
        background-color: $primary;
        border-color: $border-color;        
      }
    }

    .page-link {
      box-shadow: none !important;
    }
  }
}