$enable-dark-mode: false;

$neutral-800: #172B4D;
$neutral-700: #253858;
$neutral-600: #344563;
$neutral-500: #42526E;

$neutral-40: #DFE1E6;
$neutral-30: #EBECF0;
$neutral-20: #F4F5F7;
$neutral-10: #FAFBFC;

$primary: $neutral-800;

$form-element-background-color: $neutral-30;
$form-element-disabled-background-color: $neutral-20;

@import '../lib/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --bs-body-font-family: 'Roboto', sans-serif;
}

html {
  overflow-y: scroll !important;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-right: 0 !important;
  padding-right: 0 !important;
  &.loading {
    cursor: wait;
  }
}

.navbar {
  .nav-item {
    .nav-link {
      opacity: .75;
      &:hover  {
        opacity: 1;
      }
      &.active {
        opacity: 1;
      }
    }
  }
  .navbar-toggler {
    border: none;
    opacity: .75;
    &:hover {
      opacity: 1;
    }
    &:focus, &:active {
      box-shadow: none;
    }
  }
  .btn-close {
    filter: invert(1);
  }
}

footer {
  margin-top: auto;
  margin-right: 0 !important;
  padding-right: 0 !important;
}

.btn {
  box-shadow: none !important;
  &.btn-primary {
    // Focus state (when clicked or focused via keyboard)
    &:focus {
      background-color: $primary;
      border-color: $primary;
    }
  }
}

.box-shadow-none {
  box-shadow: none !important;
  &:focus {
    box-shadow: none !important;
  }
}

.btn-outline-search {
  @extend .btn-outline-primary;
  border-color: $neutral-600;
  color: $neutral-600;
  &:hover {
    background-color: #344563;
    color: white;
  }
}

#issue-table {
  tbody {
    a {
      &.view-issue {
        text-decoration: none;
        color: $primary;
        &:hover {
          text-decoration: underline;
          text-underline-offset: .375em;
          cursor: pointer;
        }
      }
    }
  }
}

.pagination {
  flex-wrap: wrap;
  width: max-content;
  .page-item {
    &.active {
      .page-link {
        background-color: $primary;
        border-color: $border-color;        
      }
    }
    .page-link {
      box-shadow: none !important;
    }
  }
}

form {
  .form-control {
    background-color: $form-element-background-color;
    &:focus {
      background-color: $form-element-background-color;
    }
    &:disabled {
      background-color: $form-element-disabled-background-color;
    }
  }
  .form-select {
    background-color: $form-element-background-color;
  }
}

.utility {
  &.form-editable {
    background-color: $form-element-background-color;
  }
}