$enable-dark-mode: false;

// Import Google Font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

// Import Bootstrap functions first to enable variable overrides
@import "../lib/bootstrap/scss/functions";

$primary: #172B4D;
$primary-100: lighten($primary, 40%);
$primary-200: lighten($primary, 30%);
$primary-300: lighten($primary, 20%);
$primary-400: lighten($primary, 10%);
$primary-500: $primary;
$primary-600: darken($primary, 10%);
$primary-700: darken($primary, 20%);

$secondary: #5E6C84;
$success: #36B37E;
$info: #00B8D9;
$warning: #FFAB00;
$danger: #FF5630;
$light: #F4F5F7;
$dark: #091E42;

// Bootstrap theme color map
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark
);

:root {
  --bs-body-font-family: 'Roboto', sans-serif;
}

html {
  overflow-y: scroll !important;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-right: 0 !important;
  padding-right: 0 !important;

  &.loading {
    cursor: wait;
  }
}

.navbar {
  .nav-item {
    .nav-link {
      opacity: 0.75;
      transition: opacity 0.2s ease;

      &:hover,
      &.active {
        opacity: 1;
      }
    }
  }

  .navbar-toggler {
    border: none;
    opacity: 0.75;

    &:hover {
      opacity: 1;
    }

    &:focus,
    &:active {
      box-shadow: none;
    }
  }

  .btn-close {
    filter: invert(1);
  }
  
  .admin-dropdown {
    .dropdown-menu {
      .dropdown-item {
        &:hover {
          background-color: $primary;
          color: $light;
        }
      }
    }
  }
}

footer {
  margin-top: auto;
  margin-right: 0 !important;
  padding-right: 0 !important;
}

.btn {
  box-shadow: none !important;
  &.btn-primary {
    // Focus state (when clicked or focused via keyboard)
    &:focus {
      background-color: $primary;
      border-color: $primary;
    }
  }
}

.box-shadow-none {
  box-shadow: none !important;
  &:focus {
    box-shadow: none !important;
  }
}

#issue-table {
  tbody a.view-issue {
    text-decoration: none;
    color: $primary;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 0.375em;
      cursor: pointer;
    }
  }
}

.pagination {
  flex-wrap: wrap;
  width: max-content;

  .page-item {
    .page-link {
      box-shadow: none !important;
    }

    &.active .page-link {
      background-color: $primary;
      border-color: $primary;
      color: $light;
    }
  }
}

@import "../lib/bootstrap/scss/bootstrap";