@using ServiceXpert.Web.ViewModels.Issues
@model IssueViewModel
@{
    ViewData["Title"] = "Issues";
}

<h1>@ViewData["Title"]</h1>
<hr class="mb-4" />
<form class="mb-4" id="issues-table-search-form">
    <div class="row row-cols-2 row-cols-lg-auto g-3 align-items-end">
        <div class="col">
            <label for="key-field" class="form-label">Key</label>
            <input type="text" id="key-field" class="form-control">
        </div>
        <div class="col">
            <label for="summary-field" class="form-label">Summary</label>
            <input type="text" id="summary-field" class="form-control">
        </div>
        <div class="col">
            <label for="status-category-field" class="form-label">Status Category</label>
            <select id="status-category-field" class="form-select">
                @foreach (var statusCategory in Model.StatusCategories)
                {
                    <option value="@statusCategory">@statusCategory</option>
                }
            </select>
        </div>
        <div class="col d-flex align-items-end">
            <button class="btn btn-outline-primary" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search mb-1" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                </svg>
            </button>
        </div>
    </div>
</form>
<div class="table-responsive">
    <table class="table table-striped table-hover m-0" id="issues-table">
        <thead>
            <tr>
                <th class="border-0 bg-primary text-light fw-medium text-wrap col-1">Key</th>
                <th class="border-0 bg-primary text-light fw-medium text-wrap col-4">Summary</th>
                <th class="border-0 bg-primary text-light fw-medium text-wrap col-1">Priority</th>
                <th class="border-0 bg-primary text-light fw-medium text-wrap col-1">Status</th>
                <th class="border-0 bg-primary text-light fw-medium text-wrap col-2">Assignee</th>
                <th class="border-0 bg-primary text-light fw-medium text-wrap col-2">Reporter</th>
                <th class="border-0 bg-primary text-light fw-medium text-wrap col-1">Created</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
@{
    ViewData["_SpinnerId"] = "issues-table-spinner";
    ViewData["_SpinnerIsCentered"] = true;
}
@await Html.PartialAsync("_Spinner")

@section Scripts {
    <script src="~/js/issue/index.js"></script>
}