@model Issue
@{
    ViewData["Title"] = $"{Model.IssueKey} - {Model.Name}";
}

<div class="row">
    <div class="col-10">
        <h6 class="text-muted mb-1 fw-bold" id="issue-key-label">@Model.IssueKey</h6>
        <h3 class="fw-bold">@Model.Name</h3>
    </div>
    <div class="col-2 d-flex justify-content-end align-items-center">
        <a asp-route="EditIssue" asp-route-issueKey="@Model.IssueKey" class="btn btn-primary">Edit</a>
    </div>
</div>
<hr class="mb-4" />
<form role="form">
    <div class="row mb-3">
        <div class="col-6">
            <div>
                <label asp-for="IssuePriority" class="form-label">Priority</label>
                <input asp-for="IssuePriority.Name" class="form-control" disabled />
            </div>
        </div>
        <div class="col-6">
            <div>
                <label asp-for="IssueStatus" class="form-label">Status</label>
                <input asp-for="IssueStatus.Name" class="form-control" disabled />
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12 col-md-6 mb-3 mb-md-0">
            <div>
                <label asp-for="Assignee" class="form-label">Assignee</label>
                <input asp-for="Assignee.FirstNameLastName" class="form-control" disabled />
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div>
                <label asp-for="CreatedByUser" class="form-label">Reporter</label>
                <input asp-for="CreatedByUser.FirstNameLastName" class="form-control" disabled />
            </div>
        </div>
    </div>
    <div class="mb-4">
        <label asp-for="Description" class="form-label">Description</label>
        <textarea asp-for="Description" class="form-control" rows="3" disabled>@Model.Description</textarea>
    </div>
</form>
<hr style="margin-top: 1.90rem;" />
@await Html.PartialAsync("_CommentsSection")
@section Scripts {
    <script src="~/js/comments.js"></script>
}